//REQUIRED

.input-div>.required-input {
  +input {
    border-color: tomato;
    color: red;
  }
  +input::placeholder {
    color: red;
  }
  >div {
    position: absolute;
    top: 50px;
    right: 15px;
    color: red;
    font-size: 10px;
  }
}

//INPUT

.cart-body {
  .input-div {
    position: relative;
    padding: 8px 16px;
    .input-label {
      font-family: Raleway;
      visibility: visible;
      position: absolute;
      display: block;
      color: white;
      top: 0;
      font-size: 1em;
      opacity: 1;
      transform: translateY(-1em);
      transition: all 0.2s ease-out;
      margin-left: 10px;
      display: inline;
      font-weight: 600;
    }
    input {
      width: 100%;
      padding: 5px 10px;
      border-radius: 3px;
      border: 1.5px var(--silver) solid;
      color: black;
      display: block;
    }
    input:placeholder-shown + label {
      opacity: 0;
      visibility: hidden;
      text-align: center;
      transform: translateY(1.2em);
    }
    input:focus, select:focus {
      outline: none !important;
      border: solid var(--gold) 1.5px !important;
      box-shadow: 0 0 5px var(--gold) !important;
    }
  }
}

#left-payment {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-rows: 65px;
  grid-template-areas:
    "header header header header"
    "firstName firstName lastName lastName"
    "email email email email"
    "number number number number"
    "address address apt apt"
    "zip city city state";
  >h2 {
    margin: 0;
    padding-top: .75em;
    grid-area: header;
    font-size: 2em;
  }
	#first {
    grid-area: firstName;
    padding-right: 8px;
  }
  #last {
    grid-area: lastName;
    padding-left: 8px;
  }
  #email {
    grid-area: email;
  }
  #number {
    grid-area: number;
  }
  #address {
    grid-area: address;
    width: 125%;
  }
  #apt {
    grid-area: apt;
    padding-left: 52px;
  }
  #zip {
    grid-area: zip;
    padding-right: 8px;
    width: 136%;
  }
  #city {
    grid-area: city;
    padding-left: 44px;
    width: 117.5%;
  }
  #state {
    grid-area: state;
    padding-left: 35px;
    select {
      color: var(--silver);
      height: 34px;
      border: 1.5px var(--silver) solid;
      border-radius: 3px;
    }
  }
}

#right-payment {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-rows: 65px;
  grid-template-areas:
    "header header header header"
    "number number number number"
    "date cvv help ."
    "stats stats stats stats"
    "stats stats stats stats"
    "terms terms terms terms";
  h2 {
    margin: 0;
    padding-top: .75em;
    grid-area: header;
    font-size: 2em;
  }
  #cNumber {
    grid-area: number;
  }
  #cDate {
    grid-area: date;
    padding-right: 8px;
  }
  #cCvv {
    grid-area: cvv;
    padding: 8px;
    width: 70%;
  }
  #cvv-help {
    grid-area: help;
    position: relative;
    top: 12px;
    left: -26px;
  }
  #cart-stats {
    grid-area: stats;
  }
  #terms-conditions {
    grid-area: terms;
  }
}

.file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    opacity: 0;
    cursor: pointer;
}
