#cart-body-left {
  .carousel-inner:first-child {
    background-color: #aaa;
  }
  .edit-carousel {
    text-align: center;
    .carousel-img {
      margin: 0 auto;
      height: 140px;
      width: 200px;
      padding: 0 25px 60px 25px;
      overflow: hidden;
      margin-top: 20px;
      background-color: #ccc;
    }
    >.last {
      background-color: black;
    }
    >.edit-carousel-caption {
      border-top: white solid 2px;
      border-bottom: white solid 2px;
      margin-top: 0;
      background-color: #333;
      margin: 0 98.5px;
      font-size: 25px;
      padding: 5px 0;
      font-weight: 550;
    }
    >.small {
      font-size: 22px;
      padding: 7px 0;
    }
    .carousel-description {
      height: 100px;
      width: 400px;
      padding: 0 10px;
      margin: 10px 0;
    }
    >div>a {
      margin-bottom: 10px;
    }
  }
  .carousel-indicators {
    bottom: -20px;
  }
  .carousel>a>span:hover {
    cursor: pointer;
  }
}

#cart-body-right {
  text-align: center;
  padding: 20px;

  form {
    >div>textarea {
      height: 100px;
    }
    fieldset>div{
      text-align: left;
    }
    .image-preview-input {
        position: relative;
    	overflow: hidden;
    	margin: 0px;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .image-preview-input input[type=file] {
    	position: absolute;
    	top: 0;
    	right: 0;
    	margin: 0;
    	padding: 0;
    	font-size: 20px;
    	cursor: pointer;
    	opacity: 0;
    	filter: alpha(opacity=0);
    }
    .image-preview-input-title {
        margin-left:2px;
    }
  }
}
