#cart-body-left {

  #carouselExampleControls {
    height: 100px;
    width: 100px;
  }

  .slideshow {
    height: 300px;
    width: 300px;
    margin: 50px auto;

    .col-lg-2 {
      width: 100%;

      .cuadro_intro_hover {
      height: 280px;

        .caption {
          top: 250px;
        }
      }
    }
  }
}
